<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yg.festival.board.dao.BoardDao"> 
    
    <sql id="boardColumns">
		board_no AS boardNo,
		board_title AS boardTitle,
		board_content AS boardContent,
		board_date AS boardDate,
		board_count AS boardCount,
		board_number AS boardNumber,
		member_no AS memberNo
    </sql>
    <!-- select 검색명 
    	 from 테이블명 
    	 where 검색조건 -->
     
    <!-- 게시글 정보 1건 조회  -->
    <select id="selectBoard"  parameterType="boardBean" resultType="boardBean">
	    SELECT
	    	<include refid="boardColumns"/>
	    FROM
	    	board
	    WHERE
  			board_no = #{boardNo}
	</select>
	
	<!-- 게시글 전체 조회 -->
	<select id="selectBoardInfo"  parameterType="boardBean" resultType="boardBean">
	    SELECT
	    	<include refid="boardColumns"/>
	    FROM
	    	board
	</select>
	
	<!-- 게시글 insert -->
	<insert id="insertBoard" parameterType="boardBean">
	    INSERT INTO board
	    (	
	    	board_title,
	    	board_content
	    )
	    VALUES
	    (
	    	#{boardTitle},
	    	#{boardContent}
	    )
	    <selectKey order="AFTER" keyProperty="no" resultType="string">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<!-- 게시글 update -->
	<update id="updateBoard" parameterType="boardBean">
		UPDATE board SET
			board_title = #{boardTitle},
			board_content = #{boardContent}
		WHERE
			board_no = #{boardNo}
	</update>
	
	<!-- 조회수 update -->
	<update id="updateBoardJoin" parameterType="boardBean">
		UPDATE board SET
			board_count = board_count+1		
		WHERE
			board_no = #{boardNo}
	</update>
		<!-- 회원정보 List 조회 -->
	<select id="selectBoardList" resultType="boardBean" parameterType="pagingBean">
	    SELECT
	    	<include refid="boardColumns"/>
	    FROM
	    	board
	    WHERE
	    	1=1
	    	<if test="searchType == 'title'">
	    	<!-- member_id를 검색할 값으로 변경 -->
	    	    AND board_title like CONCAT('%', #{searchText}, '%')
	    	</if>
	    LIMIT #{startRow}, #{endRow}
	</select>
	
	<!-- 전체 레코드 갯수 조회 -->
	<select id="selectBoardListTotalCount" resultType="int" parameterType="pagingBean">
	    SELECT 
	    	COUNT(*) 
	    FROM 
	    	board
	    WHERE
	    	1=1
	    	<if test="searchType == 'title'">
	    	    AND board_title like CONCAT('%', #{searchText}, '%')
	    	</if>
	</select>
	
</mapper>