<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yg.festival.board.dao.BoardFileDao">
    	
    <sql id="boardFileColumns">
    	bf_no AS bfNo,
		bf_name AS bfName,
		board_no AS boardNo,
		file_path AS filePath,
		file_originname AS fileOriginName,
		file_size AS fileSize
    </sql>
    
	<insert id="insertBoardFile" parameterType="boardFileBean">
	    INSERT INTO board_file
	    (
	    	board_no,
	     	bf_name,
	     	file_path,
	     	file_originname
	     	
	    )
	    VALUES
	    (
	    	#{boardNo},
	    	#{bfName},
	    	#{filePath},
	    	#{fileOriginName}
	    )
	</insert>
</mapper>