<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yg.festival.festival.dao.FestivalDao">
    
    <sql id="festivalColumns">
		festival_no, festival_name, festival_detail_intro, festival_detail_fee,
		festival_detail_parking, festival_detail_time, festival_detail_notice,
		festival_location_x, festival_location_y,
		thema1, thema2, thema3
    </sql>
	
	<!-- DB에서 메인 축제정보 전체 불러오기 -->
	<select id="selectFestivalList" resultType="festivalBean" parameterType="pagingBean">
		SELECT
			<include refid="festivalColumns"></include>,
			(
				SELECT festival_file.ff_titleimage 
				FROM festival_file 
				WHERE f.festival_no = festival_file.festival_no
			) AS ff_titleimage
		FROM
			festival f
		ORDER BY
			f.festival_no DESC
	</select>
	
	<!-- DB에서 기본 축제정보 전체 불러오기 -->
	<select id="selectFestivalBasicList" resultType="festivalBasicBean">
		SELECT
			fb_no, fb_address, fb_startdate,
			fb_enddate, fb_org_name, fb_org_phone,
			fb_org_link, festival_no
		FROM
			festival_basic
		ORDER BY
			festival_no DESC
	</select>
	
	<!-- DB에서 메인 축제정보 한건 불러오기 -->
	<select id="selectFestival" resultType="festivalBean">
		SELECT
			<include refid="festivalColumns"></include>
		FROM
			festival
		WHERE
			festival_no = #{festival_no}
	</select>
	
	<!-- DB에서 기본 축제정보 한건 불러오기 -->
	<select id="selectFestivalBasic" resultType="festivalBasicBean">
		SELECT
			*
		FROM
			festival_basic
		WHERE
			1 = 1 AND
			festival_no = #{festival_no}
	</select>
	
	<!-- DB에서 축제정보 전체 갯수 불러오기 -->
	<select id="selectFestivalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			festival
	</select>
	
	<!-- DB에서 축제 추가하기(FestivalBean) -->
	<insert id="insertFestival">
		INSERT INTO
			festival
		(
			festival_name, festival_detail_intro, festival_detail_fee,
			festival_detail_parking, festival_detail_time, festival_detail_notice,
			festival_location_x, festival_location_y,
			thema1, thema2, thema3
		)
		VALUE
		(
			#{festival_name}, #{festival_detail_intro}, #{festival_detail_fee},
			#{festival_detail_parking}, #{festival_detail_time}, #{festival_detail_notice},
			#{festival_location_x}, #{festival_location_y},
			#{thema1}, #{thema2}, #{thema3}
		)
	</insert>
	
	<!-- DB에서 축제 추가하기(FestivalBasicBean) -->
	<insert id="insertFestivalBasic">
		INSERT INTO
			festival_basic
		(
			fb_address, fb_startdate, fb_enddate, 
			fb_org_name, fb_org_phone, fb_org_link, 
			festival_no
		)
		VALUE
		(
			#{fb_address}, #{fb_startdate}, #{fb_enddate},
			#{fb_org_name}, #{fb_org_phone}, #{fb_org_link},
			#{festival_no}
		)
	</insert>
	
	<!-- DB에서 축제 추가하기(FestivalFileBean) -->
	<insert id="insertFestivalFile">
		INSERT INTO
			festival_file
		(
			ff_name, ff_titleimage, ff_path, ff_size, ff_originname, festival_no
		)
		VALUE
		(
			#{ff_name}, #{ff_titleimage}, #{ff_path}, #{ff_size}, #{ff_originname}, #{festival_no}
		)
	</insert>
	
	<!-- DB에서 축제 변경하기(FestivalBean) -->
	<update id="updateFestival">
		UPDATE festival
		SET 
			festival_name = #{festival_name}, 
			festival_detail_intro = #{festival_detail_intro},
			festival_detail_fee = #{festival_detail_fee},
			festival_detail_parking = #{festival_detail_parking},
			festival_detail_time = #{festival_detail_time},
			festival_detail_notice = #{festival_detail_notice},
			festival_location_x = #{festival_location_x},
			festival_location_y = #{festival_location_y},
			thema1 = #{thema1},
			thema2 = #{thema2},
			thema3 = #{thema3}
		WHERE
			festival_no = #{festival_no}
	</update>
	
	<!-- DB에서 축제 추가하기(FestivalBasicBean) -->
	<update id="updateFestivalBasic">
		UPDATE festival_basic
		SET
			fb_address = #{fb_address}, 
			fb_startdate = #{fb_startdate}, 
			fb_enddate = #{fb_enddate}, 
			fb_org_name = #{fb_org_name}, 
			fb_org_phone = #{fb_org_phone}, 
			fb_org_link = #{fb_org_link}
		WHERE
			festival_no = #{festival_no}
	</update>
	
	<!-- DB에서 축제 삭제하기(FestivalBean) -->
	<delete id="deleteFestival">
		DELETE FROM 
			festival
		WHERE
			festival_no = #{festival_no}
	</delete>
	
	<!-- DB에서 축제 삭제하기(FestivalBasicBean) -->
	<delete id="deleteFestivalBasic">
		DELETE FROM
			festival_basic
		WHERE
			festival_no = #{festival_no}
	</delete>
	
</mapper>
